h1 {
  white-space: pre;
}

h4 {
  line-height: 1.3;
}

.page-body {
  background-color: #425a4a;
  min-width: 100%;
  min-height: 100vh;
}

/* formatting About Component */
.about-component {
  display: flex;
  justify-content: space-around;
  background-image: url("../../assets/icons/golden-floral2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 19vh;
  background-position-x: 100vh;
  min-width: 100%;
  padding: 5%;
}

.both-cols {
  display: flex;
  justify-content: space-around;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ededed;
  width: 35vw;
  height: auto;
  border-radius: 25px;
  padding: 5%;
}

.about-title {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.about-title-text {
  color: #c99d6a;
}

.cake {
  width: 55%;
  height: 75%;
}

@media (max-width: 1800px) {
  .about-text {
    font-size: 1.3em;
  }

  .about-title-text {
    font-size: 1.7em;
    text-align: right;
  }
}

@media (max-width: 1450px) {
  .about-component {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 10%;
  }

  .about-container {
    min-width: 90%;
    margin-bottom: 10%;
  }

  .about-text {
    font-size: 1.7em;
  }

  .about-title-text {
    font-size: 1.7em;
    text-align: right;
  }

  .cake {
    width: 65%;
    height: 85%;
  }
}

@media (orientation: portrait) {
  .about-component {
    padding-top: 20%;
  }

  .about-container {
    min-width: 100%;
    margin-bottom: 10%;
  }

  .about-text {
    font-size: 1.6em;
  }

  .about-title-text {
    font-size: 2.5em;
    text-align: right;
  }

  .cake {
    width: 75%;
    height: 95%;
  }
}
