h1 {
  white-space: pre;
  text-align: center;
}

/* formatting About Component */

.about-component {
  background-color: #425a4a;
  min-height: 91.75vh;
}

/* formatting container that contains text and title */

.about-title-container {
  background-color: #ededed;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5vh;
}

/* .about-container {
  background-color: #425a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7%;
  min-width: 100%;
} */

/* formatting component title & description*/

/* .about-title {
  text-align: center;
  background-color: #ededed;
  min-width: 10vh;
  min-height: 5vw;
} */

/* formatting about image */

/* formatting component text*/

/* .about-text {
  background-color: #ededed;
  border-radius: 25px;
  height: 50vh;
  width: 35vh;
} */
