.header-component {
  display: flex;
  padding-top: 7%;
  background-image: url(../../assets/icons/header-golden-floral.png);
  background-size: auto;
  background-color: #384d3f;
  background-repeat: no-repeat;
  background-position-x: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  border-color: #b99062;
  min-height: 40vh;
  color: #c99d6a;
  min-width: 100%;
}

@media (max-width: 1500px) {
  .header-component {
    padding-top: 12%;
  }
}

@media (orientation: portrait) {
  .header-component {
    padding-top: 17%;
  }
}

@media (max-width: 620px) {
  .header-component {
    padding-top: 22%;
  }
}
