ul {
  list-style: none;
}

h2 {
  white-space: pre;
}

/*
container formatting
*/

.hours-container {
  background-color: #425a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7%;
  background-image: url("../../assets/icons/golden-floral1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: inherit;
  font-family: "Poiret One";
  min-height: 100vh;
  min-width: 100vw;
}

.location-title {
  width: inherit;
  text-align: right;
}

.hours-text {
  font-size: 18px;
  text-align: center;
}

.left-col {
  background-color: #ededed;
  border-radius: 25px;
}

.right-col {
  border-radius: 25px;
}

.bottom,
.top {
  width: 110%;
  height: auto;
  padding: 5px;
}

.hours-map,
.hours-address {
  display: flex;
  padding-top: 3vh;
  padding-bottom: 1vh;
  align-items: center;
  flex-direction: column;
}

.map,
.address {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .map,
  .address {
    width: 75%;
    height: auto;
    padding: 3px;
  }
}
